.mainDisplayEventNameContainer{
  margin: auto;
  height: 15%;
  display: flex;
  flex-direction: column;
  border-bottom: 0.3vh rgb(0, 0, 0) solid;
}
.mainDisplayMapContainer{
  margin: auto;
  height: 85%;
  display: flex;
  flex-direction: column;
  background-color: #FEFFFF;
}

.mainDisplayEventName{
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
  font-size: calc(1vw + 1vh + 1vmin);
}

.mainDisplayMap{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}