.mainDisplayEventNameContainer{
  margin: auto;
  height: 15%;
  display: flex;
  flex-direction: column;
  border-bottom: 3px #B48E8E solid;
}
.mainDisplayMapContainer{
  margin: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-color: #FEFFFF;
}

.mainDisplayFooterContainer{
  margin: auto;
  height: 15%;
  display: flex;
  flex-direction: column;
  border-top: 3px #B48E8E solid;
}

.mainDisplayEventName{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color:  #EC5133;
  font-size: 2.25vw;
}

.mainDisplayMap{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color:  #723936;
}

.mainDisplayFooter{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color:  #723936;
  font-size: 2.25vw;
}