<div class="mainDisplayEventNameContainer">
    <div class="mainDisplayEventName">    
        <span>{{conference.eventName }} - {{conference.location}}</span>
    </div>
</div>
<div class="mainDisplayMapContainer" >
        <app-map-area class="mainDisplayMap"
            [booths]="conference.map"
            [beacons]="conference.beacons">
        </app-map-area>
</div>
<div class="mainDisplayFooterContainer">
    <div class="mainDisplayFooter">
        <span> {{conferenceAttendees}} participants - {{steps}} km walked - {{fitcoins}} fitcoins earned </span>
    </div>
</div>