doctype
html(ng-app="dashBoardApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Secret Dashboard
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js')
    script(type="text/javascript" src='js/app.js')
  body
    block body