doctype
html(ng-app="dashBoardApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Secret Dashboard
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript" src='js/lib/angular/angular.min.js')
    script(type="text/javascript" src='js/app.js')
  body
    block body