.heatmap {
    margin: auto;
    height: 83vh;
    width: 78vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    opacity: 0.5;
  }