<div class="sideBlock">
    <div class="sideBlockImage">
        <img src="../../assets/svg_assets/boy_pirate.svg" class="sideBlockPriateImage" alt="boy private">
    </div>
    <div class="sideBlockImageText">
        <span> {{steps}} km walked </span>
    </div>
    <div class="sideBlockImageText">
        <span> {{conferenceAttendees}} participants </span>
    </div>

</div>
<div class="sideBlock">
    <div class="sideBlockSteps">
        <span> {{steps}} </span>
    </div>
    <div class="sideBlockSteps">
        <img src="../../assets/svg_assets/footprint.svg" class="sideBlockFootStepImage" alt="footprint">
    </div>
    <div class="sideBlockSteps">
        <span> Total Steps </span>
    </div>
</div>
<div class="sideBlockBottom">
    <div class="sideBlockCalories">
        <span> {{calories}} </span>
    </div>
    <div class="sideBlockCalories">
        <img src="../../assets/svg_assets/scales.svg" class="sideBlockCalorieImage" alt="scale">
    </div>
    <div class="sideBlockCalories">
        <span> Total Calories</span>
    </div>
</div>