.sideBlock{
    height: 33.3%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px #B48E8E solid;
    border-left: 3px #B48E8E solid;
}

.sideBlockBottom{
  height: 33.3%;
  display: flex;
  flex-direction: column;
  background-color: #FEFFFF;
  border-left: 3px #B48E8E solid;
}

.sideBlockPriateImage{
  height: 20vh;
  width: 20vw;
}

.sideBlockFootStepImage{
  height: 15vh;
  width: 15vw;
}

.sideBlockCalorieImage{
  height: 15vh;
  width: 15vw;
}

.sideBlockSteps{
  height: 33.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #EA998C;
  font-size: 1.25vw
}
  
.sideBlockCalories{
  height: 33.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #EA998C;
  font-size: 1.25vw
}

.sideBlockImage{
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #EA998C;
}