.eventBlock {
  fill: #3064A5;
  stroke-width: 2px;
  stroke: rgb(50,50,50);
}

.beaconBlock {
  fill: rgb(255, 0, 0);
  stroke-width: 2px;
  fill: rgb(255, 0, 0);
}

.radiusBlock {
  fill: rgb(255, 0, 0);
  stroke-width: 4px;
  stroke: rgb(255, 0, 0);
  opacity: 0.2;
}

.boothText{
  fill: rgb(235,235,235);
  stroke-width: 1px;
  stroke: rgb(50,50,50);
  font-size: calc(0.39vw + 0.39vh + 0.39vmin);
}

.mapArea {
  margin: auto;
  height: 82vh;
  width: 78vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 4;
  position: absolute;
  opacity: 0.85;
}

.heatmapArea {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
}
