.eventBlock {
  fill: #CCB3B3;
  stroke-width:0;
  stroke:rgb(0,0,0);
}

.beaconBlock {
  fill: rgb(255, 0, 0);
  stroke-width:0;
  stroke:rgb(0,0,0);
}

.boothText{
  fill: blue;
  stroke-width:0;
  stroke:rgb(0,0,0);
  font-size: calc(0.30vw + 0.30vh + 0.30vmin);
  /* font-family: 'Source Code Pro', monospace, sans-serif; */
  /* font-family: 'Freckle Face', cursive; */
  font-family: 'Fredoka One', cursive, sans-serif;
}

.mapArea {
  margin: auto;
  height: 69vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}