<svg class="mapArea" 
    appMapArea [booths]="booths" 
    [beacons]="beacons" 
    [eventName]="eventName"
    [mapHeight]="mapHeight"
    [mapWidth]="mapWidth">

    <g *ngFor="let booth of booths;let i = index">
        <rect *ngIf="booth.shape['type'] === 'rectangle'"
          [attr.x]="booth.shape['x']"
          [attr.y]="booth.shape['y']"
          [attr.width]="booth.shape['width']"
          [attr.height]="booth.shape['height']"
          class="eventBlock"
          [id]="'eventBlock' + i"
          name="rectangle">
        </rect>

        <circle *ngIf="booth.shape['type'] === 'circle'"
          [attr.cx]="booth.shape['cx']"
          [attr.cy]="booth.shape['cy']"
          [attr.r]="booth.shape['radius']"
          class="eventBlock"
          [id]="'eventBlock' + i"
          name="circle">
        </circle>

        <ellipse *ngIf="booth.shape['type'] === 'ellipse'"
          [attr.cx]="booth.shape['cx']"
          [attr.cy]="booth.shape['cy']"
          [attr.rx]="booth.shape['rx']"
          [attr.ry]="booth.shape['ry']"
          class="eventBlock"
          [id]="'eventBlock' + i"
          name="ellipse">
        </ellipse>

        <polygon *ngIf="booth.shape['type'] === 'polygon'"
          [attr.points]="booth.shape['points']"
          class="eventBlock"
          [id]="'eventBlock' + i"
          name="polygon">
        </polygon>
    </g>

    <!-- <g *ngFor="let booth of booths; let i = index">
      <text
        class="boothText"
        [id]="'boothText' + i"
         alignment-baseline='middle' 
         text-anchor='middle'
         [attr.value]="booth.unit">
      {{booth.unit}} 
      </text>
    </g> -->

    <g *ngFor="let booth of booths; let i = index">
        <text class="boothText" [id]="'boothText' + i">
            <tspan *ngFor="let text of booth.unit.split(' '); let j = index"
            class="tspanText"
            alignment-baseline='middle'
            text-anchor='middle'
            [id]="'tspanText' + j"
            [attr.value]="text">
            {{text}}
          </tspan>
        </text>
    </g>

</svg>

<app-heatmap class="heatmapArea"></app-heatmap>