.eventBlock {
  fill: #CCB3B3;
  stroke-width:0;
  stroke:rgb(0,0,0);
}

.beaconBlock {
  fill: rgb(255, 0, 0);
  stroke-width:0;
  stroke:rgb(0,0,0);
}

.boothText{
  fill: blue;
  stroke-width:0;
  stroke:rgb(0,0,0);
  font-size: 0.75vw;
  font-family: sans-serif;
}

.mapArea {
  margin-left: 10px;
  margin-right: 10px;
  height: 65vh;
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}