/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
    font-family: 'Fredoka One', cursive, sans-serif;
    /* font-family: 'Source Code Pro', monospace, sans-serif; */
    /* font-family: 'Freckle Face', cursive; */
    /* font-family: 'Roboto Mono', monospace, sans-serif; */
    /* font-weight: bolder; */
}