body{
  padding: 0;
  margin: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  display: flex;  
  flex-direction: column;
  background-color: #FEFFFF;
}

.sideInfo {
  width: 20%;
  flex-direction: column;
  background-color: #FEFFFF;
}

.title{
  height: 10%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px #B48E8E solid;
  align-items: center;
  align-content: center;
  justify-content: center;
  color:  #EC5133;
  font-size: 200%;
}

.map{
  height: 80%;
  display: flex;
  flex-direction: row;
  background-color: #FEFFFF;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer{
  height: 10%;
  display: flex;
  flex-direction: row;
  border-top: 2px #B48E8E solid;
  align-items: center;
  align-content: center;
  justify-content: center;
  color:  #723936;
  font-size: 200%;
}

.sideBlock{
  height: 33.3%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px #B48E8E solid;
  border-left: 2px #B48E8E solid;
}

.sideBlockBottom{
  height: 33.3%;
  display: flex;
  flex-direction: column;
  background-color: #FEFFFF;
  border-left: 2px #B48E8E solid;
}

.sideBlockImage{
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #FEFFFF;
  color: #EA998C;
}

.sideBlockSteps{
  height: 33.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #EA998C;
}

.sideBlockCalories{
  height: 33.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #EA998C;
}

.eventBlock{
  fill: #CCB3B3;
  stroke-width:0;
  stroke:rgb(0,0,0);
}

.imageIcon{
  height:50%;
  width:50%;
}
