.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.mainDisplay {
    width: 100%;  
    flex-direction: column;
    background-color: #FEFFFF;
}

.conferenceListContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FEFFFF;
}

.conferenceList{
    display: flex;
    flex-direction: row;
}